<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs1-main">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-desc">Zleć rozliczenia ekspertom</span>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Spokój ducha</span>
            <h2 class="cs-title">Księgowość</h2>
            <p class="cs-text">
                Zapewnij swojej firmie stabilność finansową, a sobie spokój umysłu, korzystając z naszych usług księgowych. Nasz doświadczony zespół gwarantuje precyzyjne prowadzenie ksiąg, zgodność z obowiązującymi przepisami i terminowe składanie deklaracji podatkowych. Skoncentruj się na rozwoju biznesu, a my zajmiemy się szczegółami finansowymi, zapewniając Ci pełną kontrolę i klarowność w kwestiach księgowych.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="/ksiegowosc">Czytaj dalej</a>
            <ul class="cs-ul">
                <li class="cs-item">
                    <span class="cs-number">250+</span>
                    <h3 class="cs-h3">klientów</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">100%</span>
                    <h3 class="cs-h3">zadowolenia z usług</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">1000+</span>
                    <h3 class="cs-h3">zrealizowanych konsultacji</h3>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbs2-main">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-desc">Znajdź oszczędności</span>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Nie przepłacaj</span>
            <h2 class="cs-title">Doradztwo podatkowe</h2>
            <p class="cs-text">
                Zmniejsz stres związany z podatkami, powierzając nam zadanie optymalizacji podatkowej. Nasze doradztwo podatkowe obejmuje skrupulatną analizę, identyfikację potencjalnych korzyści podatkowych oraz ścisłe monitorowanie zmian w przepisach, dzięki czemu Ty możesz skoncentrować się na prowadzeniu biznesu, mając pewność, że Twoje finanse są w bezpiecznych rękach.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="/doradztwo-podatkowe">Czytaj dalej</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Triplet            -->
<!-- ============================================ -->

<section id="sbs3-main">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-desc">Bez miejsca na błędy</span>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Zadbaj o pracowników</span>
            <h2 class="cs-title">Kadry i płace</h2>
            <p class="cs-text">
                Zrezygnuj z zawiłych spraw kadrowo-płacowych i skoncentruj się na rozwoju swojego biznesu. Nasze usługi "Kadry i Płace" zapewniają kompleksową obsługę dokumentacji zatrudnienia, obliczanie wynagrodzeń oraz prowadzenie rozliczeń ZUS, eliminując wszelkie zmartwienia związane z aspektami kadrowo-płacowymi.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="/kadry-i-place">Czytaj dalej</a>
            <ul class="cs-ul">
                <li class="cs-item">
                    <span class="cs-number">100%</span>
                    <h3 class="cs-h3">terminowo rozliczonych wynagrodzeń</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">99%</span>
                    <h3 class="cs-h3">bezbłędnych raportów rocznych</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">Setki godzin</span>
                    <h3 class="cs-h3">oszczędzonego czasu naszych klientów</h3>
                </li>
            </ul>
        </div>
    </div>
</section>

<style>
    /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs1-main {
        padding-top: 32.5rem;
    }
    #sbs1-main,
    #sbs2-main,
    #sbs3-main {
        padding: var(--sectionPadding);
        overflow: hidden;
    }
    #sbs1-main .cs-container,
    #sbs2-main .cs-container,
    #sbs3-main .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: clamp(3rem, 4vw, 4rem);
    }
    #sbs1-main .cs-content,
    #sbs2-main .cs-content,
    #sbs3-main .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
        position: relative;
        z-index: 10;
    }

    #sbs1-main .cs-text,
    #sbs2-main .cs-text,
    #sbs3-main .cs-text {
        margin-bottom: 1rem;
    }
    #sbs1-main .cs-text:last-of-type,
    #sbs2-main .cs-text:last-of-type,
    #sbs3-main .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbs1-main .cs-ul,
    #sbs2-main .cs-ul,
    #sbs3-main .cs-ul {
        width: 100%;
        padding: 0;
        /* 32px - 48px */
        margin: clamp(2rem, 5vw, 3rem) 0 0 0;
        /* 32px - 48px */
        padding: clamp(2rem, 5vw, 3rem) 0 0 0;
        border-top: 1px solid #e8e8e8;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 0.75rem;
    }
    #sbs1-main .cs-item,
    #sbs2-main .cs-item,
    #sbs3-main .cs-item {
        list-style: none;
        width: 32%;
        /* making flex so we can align a heading with 1 line to the bottom */
        display: flex;
        flex-direction: column;
        align-self: stretch;
        align-content: space-between;
    }
    #sbs1-main .cs-number,
    #sbs2-main .cs-number,
    #sbs3-main .cs-number {
        font-size: 1.5625rem;
        line-height: 1.2em;
        font-weight: 700;
        text-align: left;
        color: var(--primary);
        display: block;
        margin: 0 0 0.5rem 0;
    }
    #sbs1-main .cs-h3,
    #sbs2-main .cs-h3,
    #sbs3-main .cs-h3 {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 400;
        text-align: left;
        /* auto margin top will push text to bottom if there's only one line */
        margin: 0;
        color: var(--bodyTextColor);
    }
    #sbs1-main .cs-image-group,
    #sbs2-main .cs-image-group,
    #sbs3-main .cs-image-group {
        width: 100%;
        max-width: 41.875rem;
        height: 100vw;
        max-height: 39.375rem;
        position: relative;
        display: block;
        z-index: 1;
    }
    #sbs1-main .cs-picture,
    #sbs2-main .cs-picture,
    #sbs3-main .cs-picture {
        /* big background image */
        width: 93%;
        height: 93%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
    #sbs1-main .cs-picture img,
    #sbs2-main .cs-picture img,
    #sbs3-main .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #sbs1-main .cs-box,
    #sbs2-main .cs-box,
    #sbs3-main .cs-box {
        text-align: left;
        width: 70%;
        max-width: 19rem;
        /* 20px - 40px */
        padding: clamp(1.25rem, 4vw, 2.5rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: #1a1a1a;
        display: inline-flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;
    }
    #sbs1-main .cs-desc,
    #sbs2-main .cs-desc,
    #sbs3-main .cs-desc {
        /* 16px - 31px */
        font-size: clamp(1rem, 2.5vw, 1.9375rem);
        line-height: 1.2em;
        font-weight: 700;
        text-align: inherit;
        width: 100%;
        color: var(--bodyTextColorWhite);
        position: relative;
        z-index: 10;
    }
    #sbs1-main .cs-graphic,
    #sbs2-main .cs-graphic,
    #sbs3-main .cs-graphic {
        width: 150%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs1-main {
        padding-top: 17.5rem;
    }
    #sbs1-main .cs-container,
    #sbs2-main .cs-container,
    #sbs3-main .cs-container {
        max-width: 80rem;
        /* set to horizontal arrangement */
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    #sbs1-main .cs-content,
    #sbs2-main .cs-content,
    #sbs3-main .cs-content {
        width: 48%;
        padding: 3rem 0;
        align-self: center;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #sbs1-main .cs-image-group,
    #sbs2-main .cs-image-group,
    #sbs3-main .cs-image-group {
        width: 55%;
        max-width: 41.875rem;
        min-height: 41.875rem;
        max-height: 100%;
        height: auto;
        margin: 0;
    }
    #sbs1-main .cs-picture,
    #sbs2-main .cs-picture,
    #sbs3-main .cs-picture {
        width: 93%;
        height: 94%;
    }
    #sbs1-main .cs-box,
    #sbs2-main .cs-box,
    #sbs3-main .cs-box {
        bottom: 0rem;
    }
    #sbs1-main .cs-graphic,
    #sbs2-main .cs-graphic,
    #sbs3-main .cs-graphic {
        max-width: 44.6875rem;
        left: auto;
        right: 8.125rem;
        transform: translateY(-50%);
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs2-main {
        background-color: #f7f7f7;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs2-main .cs-image-group {
        /* sends it to the right in the 2nd position */
        order: 2;
    }
    #sbs2-main .cs-picture {
        left: auto;
        right: 0;
    }
    #sbs2-main .cs-box {
        left: 0;
        right: auto;
    }
}

                                
</style>
                                